:root {
    --primary: 146, 115, 178;
    --secondary: 210, 162, 118;
    --info: 178, 159, 135;
    --success: 91, 149, 104;
    --background: 56, 42, 77;
    --white: 255, 255, 255;
    --light: 247, 246, 246;
    --dark: 64, 47, 89;
}

body {
    background-color: rgb(var(--background));
    margin-bottom: 10vh;
}

.scheme-light {
    color: rgb(var(--dark));
    background-color: rgb(var(--light));
}

.scheme-dark {
    color: rgb(var(--light));
    background-color: rgb(var(--background));
}

.scheme-dark header {
    color: rgb(var(--secondary))
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

section {
    padding: 1rem;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.intro > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-img {
    max-height: 50vh;
    border-radius: 1rem;
}