body {
    margin-bottom: 10vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

section {
    padding: 1rem;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.intro h1 {
    opacity: 0;
    animation: fadeIn 2s ease-in-out 0.5s forwards;
}

.intro h2 {
    opacity: 0;
    animation: fadeIn 2s ease-in-out 2.5s forwards;
}

.dates {
    opacity: 0;
    animation: fadeIn 2s ease-in-out 4.5s forwards;
    font-style: italic;
}

.intro>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-img {
    max-height: 50vh;
    border-radius: 1rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.direction-links {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    list-style: none;
    border-bottom: 1px dotted black;
    padding-bottom: 0.5rem;
}

@media only screen and (min-width: 992px) {
    .direction-links {
        border-bottom: 0px;
        padding-bottom: 0;
    }
}
